<body class="container">
  <h3>PROMENI LOZINKU</h3>
  <p>Korisnik: {{username}}</p>
  <hr>
  <table>
    <tr>
      <td class="beautified-text">
        STARA LOZINKA:
      </td>
    </tr>
    <tr>
      <td>
        @if(!visible_old){
          <input type="password" name="ch_pass_old1" [(ngModel)]="oldPass"><button (click)="toggle_old()" class="white">🔒</button>
        }@else{
        <input type="text" name="ch_pass_old2" [(ngModel)]="oldPass"><button (click)="toggle_old()" class="white">🔓</button>
        }
      </td>
    </tr>


    <tr>
      <td class="beautified-text">
        NOVA LOZINKA:
      </td>
    </tr>
    <tr>
      <td>
        @if(!visible_new1){
          <input type="password" name="ch_pass_new11"  [(ngModel)]="newPass" (ngModelChange)="pass_regex()"><button (click)="toggle_new1()" class="white">🔒</button>
        }@else{
          <input type="text" name="ch_pass_new12"  [(ngModel)]="newPass" (ngModelChange)="pass_regex()"><button (click)="toggle_new1()" class="white">🔓</button>
        }
      </td>
    </tr>
    <span>{{pass_err}}</span>
    <tr>
      <td class="beautified-text">
        PONOVLJENA NOVA LOZINKA:
      </td>
    </tr>
    <tr>
      <td>
        @if(!visible_new2){
          <input type="password" name="ch_pass_new21"  [(ngModel)]="rptPass"><button (click)="toggle_new2()" class="white">🔒</button>
        }@else{
          <input type="text" name="ch_pass_new22"  [(ngModel)]="rptPass"><button (click)="toggle_new2()" class="white">🔓</button>
        }
      </td>
    </tr>
    <tr>
      <td class="align">
        <span class="error">{{err}}</span><br>
        <button (click)="updatePass()">POTVRDI</button>
      </td>
    </tr>

  </table>


</body>
<footer>
  <button (click)="go_back()">Nazad</button>
</footer>
