<header>
  <app-tourist-menu></app-tourist-menu>
</header>
<body>
  <div>
  <h3 class="h_align">LISTA SVIH VIKENDICA</h3>


  <div class="center-block">
    <input type="text" name="tour_cott_name_parm" placeholder="Naziv" [(ngModel)]="parm_name">
    <input type="text" name="tour_cott_place_parm" placeholder="Mesto" [(ngModel)]="parm_place">
    <button (click)="search()">Pretraži</button>
  </div>
  <br>
  <div class="center-block">
    <select name="tour_cott_parm_sort" [(ngModel)]="sort_parm">
      <option value="high_low">Opadajuće</option>
      <option value="low_high">Rastuće</option>
    </select>
    <select name="tour_cott_catg_sort" [(ngModel)]="sort_category">
      <option value="name">Naziv</option>
      <option value="place">Mesto</option>
      <option value="persons">Broj osoba</option>
      <option value="squares">Kvadratura</option>
      <option value="stars">Ocena</option>
    </select>
    <button (click)="sort_cottages()">Sortiraj</button>
    <button (click)="reset_cottages()">Resetuj</button>
  </div>
  <div>
    @if(srchCottages.length>0){
      <table class="custom-table">
      <tr>
        <th>NAZIV</th>
        <th>MESTO</th>
        <th>BROJ OSOBA</th>
        <th>KVADRATURA</th>
        <th colspan="2">OCENA</th>
      </tr>
      @for(v of srchCottages; track v.id){
        <tr>
          <td>
            <div class="tooltip">
              {{v.naziv}}
              <span class="tooltiptext" ><a name="link_cottage" [routerLink]="['../cottage_info', v.id]">Otvori vikendicu</a></span>
            </div>
          </td>

          <td>
            {{v.mesto}}
          </td>
          <td>
            {{v.broj_osoba}}
          </td>
          <td>
            {{v.kvadratura}}
          </td>
          <td>
            {{avg_note(v)}}
          </td>
          <td>

            @if (v.lista_ocena.length > 0) {

              <div class="star-rating">


                @for (star of stars; track star; let i = $index) {
                  <span
                    class="symbol"
                    [ngClass]="{
                      'filled': i + 1 <= avg_note(v),
                      'third-quarter-filled': avg_note(v) > i && (avg_note(v) - i) >= 0.75 && (avg_note(v) - i) < 1,
                      'half-filled': avg_note(v) > i && (avg_note(v) - i) >= 0.5 && (avg_note(v) - i) < 0.75,
                      'quarter-filled': avg_note(v) > i && (avg_note(v) - i) >= 0.25 && (avg_note(v) - i) < 0.5,
                      'empty': i >= avg_note(v)
                    }">
                    ★
                  </span>

                }

              </div>
            } @else {

              <div class="star-rating">
                @for (star of stars; track star; let i = $index) {
                  <span class="symbol empty">
                    ★
                  </span>
                }
              </div>
            }
          </td>

        </tr>
      }
      </table>
    } @else{
      <p>Trenutno ovakve nemamo vikendice u ponudi.</p>
    }
    </div>
</div>

</body>
<footer>
  <button (click)="passChange()">Izmeni lozinku</button>
  <button (click)="logout()">Odjavi se</button>

</footer>
