/* .owner-statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  margin: 2rem 0;
}

.chart-wrapper {
  width: 600px;
  height: 400px;
  position: relative;
  margin: 1rem 0;
} */

.charts-container {
  display: flex;
  flex-wrap: wrap;
   flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  margin: 2rem 0;
}

.chart-card {
  flex: 1;
  min-width: 400px;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.chart-wrapper {
  position: relative;
  height: 400px;
  width: 100%;
}
canvas {
  width: 100% !important;
  height: 100% !important;
}

:host {
  background: radial-gradient(circle at center, #f0fff0, #ffffff);
  min-height: 100vh;
  display: block;
}

footer button {
  background: linear-gradient(135deg, #5b951a, #38893c);
  border: none;
  border-radius: 8px;
  gap: 10px;
  margin: 5px;
  padding: 6px 10px;
  white-space: nowrap;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 150px;
  height: 30px;
}

footer button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

footer button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer th, footer tr{
  border: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}


h1, h2, h3, h4, h5, h6 {
  background: linear-gradient(135deg, #5b951a, #38893c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  text-align: center;
  margin: 24px 0 16px 0;
  text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1 {
  font-size: 2.5rem;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 2rem;
  letter-spacing: -0.01em;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.1rem;
}



